<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Abakon15.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Abakon15.Properties.Settings>
      <setting name="_Language" serializeAs="String">
        <value>pl-PL</value>
      </setting>
      <setting name="_partnerId_DGHeader" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_partnerCode_DGHeader" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_NrEwid_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_NrInwentarzowy_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_ProducentId_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_NrFabryczny_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_SymbolProducenta_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_RokProdukcji_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_TypWlasnosci_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_Legalizacja_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_CzasokresSprawdzania_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_DataOstatniegoBadania_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_StopienZuzycia_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_WynikBadania_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_DataNastepnegoBadania_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_Uwagi_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_WlascicielId_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_MiejsceUzytkowaniaId_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_UzytkownikId_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_ApplicationId_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_CreateDate_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_LastUpdateDate_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_UserName_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_budowa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_dzialka_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_obszar_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_zakresy_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_klasa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_napiecie_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_pradRob_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_pradStaly_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_pradZmienny_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_dzialka1_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_obszar1_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_wgran_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_wysieg_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_nacisk_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_klasa1_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_wzorzec_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_Zrodlo_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par1Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par1Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par1Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par2Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par2Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par2Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par3Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par3Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par4Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par4Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par4Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par5Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par5Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par5Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par6Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par6Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par6Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par7Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par7Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par7Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par8Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par8Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par8Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par9Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par9Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par9Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par10Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par10Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par10Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par11Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par11Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par11Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par12Nazwa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par12Wartosc_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_par12Wynik_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_TypSprGwintow_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_TypGwintu_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_NumerNormyNaGwint_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_Wewn_Zewn_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_Srednica_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_Skok_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_Discriminator_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_PrzyrzadPomiarowyNrKod_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_SelectedEquipmentType_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_DataGwarancji_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PathToPatterns" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="PathToDocuments_CollectionOfEquipment" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="_DB_server" serializeAs="String">
        <value>Undefined</value>
      </setting>
      <setting name="_DB_user" serializeAs="String">
        <value>Undefined</value>
      </setting>
      <setting name="PathToDocuments_SingleEquipment" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LastSelectedPattern_SingleEquipment" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastSelectedPattern_CollectionOfEquipment" serializeAs="String">
        <value/>
      </setting>
      <setting name="_DB_psw" serializeAs="String">
        <value/>
      </setting>
      <setting name="_9_PartnerCode_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_9_PartnerName_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_9_PartnerType_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_9_Partnerphone_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_9_PartnerFax_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_9_PartnerEmail_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_9_PartnerWWW_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_9_PartnerKeyWords_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_9_PartnerReliabilityRating_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_NrSAP_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_1_SubGrupa_ColumnVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EquipmentSpliter" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="EquipmentSpliterV" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="_DB_Name" serializeAs="String">
        <value>Undefined</value>
      </setting>
      <setting name="_DB_Authetification" serializeAs="String">
        <value>False</value>
      </setting>
    </Abakon15.Properties.Settings>
  </userSettings>
    <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity, Version=7.4.543.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.PostgreSql" />
      <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version=7.4.543.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>

   <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.PostgreSql" />
      <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version=6.8.322.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>-->

</configuration>
